<%- include('baseTemplate/header'); %>
<form action=":prodcutId/new-comment" method="post">
    <label>
        Deje su comentario: <input value="" name="text" />
    </label>
    <button type="submit" >Guardar</button>
</form>
<%- include('baseTemplate/footer'); %>