<%- include('baseTemplate/header'); %>
<form action="/new-comment" method="post">
    <label>
        Deje su comentario: <input value="" name="text" />
    </label>
    <input type="text" hidden value="<%= product[0]._id %>" name="productId">
    <button type="submit" >Guardar</button>
</form>
<%- include('baseTemplate/footer'); %>