* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #2B2D42;
    color: #F8F4F9;
    font-family: 'Prompt', sans-serif;
}

a {
    text-decoration: none;
    color: #FDCA40;
    text-align: center;
    display: block;
    margin: auto;
    padding: 1em;
}

ul {
    text-align: center;
}

li {
    list-style: none;
    margin: auto;
    margin-top: .5em;
}

/******************************* HEADER *******************************/

.logo {
    background: no-repeat url('../assets/Recurso\ 7.png');
    display: block;
    font-size: 0px;
    background-position: 50%;
    width: 100%;
    height: 162px;
    z-index: 1;
    margin-bottom: 15px;
}

.container_home {
    text-align: center;
    margin-top: 2em;
}

.about {
    display: inline-block;
    width: 50%;
}

.about p{
    font-size: 0.9em;
    color: #F8F4F9;
    text-align: left;
}

.container {
    width: 100%;
}

.section {
    padding-top: 10px;
    margin: auto;
    padding-bottom: 20px;
    border-bottom: solid 1px #F8F4F9;
}

/******************************* FORM *******************************/

#contact {
    background-color: #FDCA40;
    position: relative;
    display: block;
    top: 5em;
    width: 100%;
}

form {
    padding: 2em;
    padding-top: 1em;
}

.form-item label {
    display: inline-block;
    color: #FDCA40;
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
}

#contact div {
    margin-bottom: 15px;
}

input {
    width: 100%;
    height: 2.5em;
    border-radius: 1em;
    padding-left: 1em;
}

#msg {
    width: 100%;
    height: 10em;
    border-radius: 1em;
    padding: 1em;
}

input[type="submit"] {
    background-color: #2B2D42;
    color: #FDCA40;
    border-radius: 1em;
    width: 33%;
    text-align: center;
    padding-left: 0;
    position: relative;
    left: 33%;
    margin-top: 1em;
}

/******************************* FOOTER *******************************/

footer {
    background-color: #F8F4F9;
    color: #2B2D42;
    position: relative;
    top: 5em;
    padding: 1em;
    text-align: center;
    width: 100%;
}

footer p {
    font-size: 1em;
    color: #2B2D42;
}

#redes li{
    display: inline-block;
}

#redes li:first-child {
    display: block;
}

#redes li:first-child a {
    width: 138px;
    height: 78px; 
    font-size: 0px;
    background: no-repeat url(../assets/logo-footer.png);
}

.social {
    width: 50px;
    height: 50px;
    font-size: 0px;
    margin: 10px;
    display: block;
}

#ig {
    background: no-repeat url(../assets/instagram-icon.png);
}

#tw {
    background: no-repeat url(../assets/twitter-icon.png);
}

#fb {
    background: no-repeat url(../assets/facebook-icon.png);
}

#mapa {
    margin: auto;
}

/******************************* CATEGORIES *******************************/

.form-select {
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}

button {
    border: solid 1px #94524b;
    color: #94524b;
    border-radius: 10px;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

select{
    width: 200px;
    padding: 5px 15px;
    text-align: center;
}

/******************************* PRODUCT LIST *******************************/
.product-list li{
    border: solid 1px #F8F4F9;
    border-radius: 5px;
    padding: 20px;
}

/******************************* PRODUCT *******************************/
.product-section {
    margin-top: 50px;
    padding-bottom: 20px;
    border-bottom: solid 1px #F8F4F9;
}

.product-section picture{
    text-align: center;
}

/******************************* COMMENTS *******************************/
.comments h3 {
    line-height: 70px;
}
.text {
    background: no-repeat url(../assets/generic-user.png);
    border-left: solid 50px transparent;
    background-position: -50px;
    height: 40px;
    line-height: 40px;
}