</main>
<footer>
    <div class="container">
        <div class="row">
            <ul class="col-12 col-md-6 col-lg-6" id="redes">
                <li><a href="/">Hecho por Vicki</a></li>
                <li><a target="_blank" id="ig" href="https://www.instagram.com/" class="social">Instagram</a></li>
                <li><a target="_blank" id="tw" href="https://www.twitter.com/" class="social">Twitter</a></li>
                <li><a target="_blank" id="fb" href="https://www.facebook.com/" class="social">Facebook</a></li>
            </ul>
    
            <ul class="col-12 col-md-6 col-lg-6" id="mapa">
                <li>Florencia Fernández Bugna</li>
                <li>Aplicaciones Híbridas</li>
                <li>Brian Lara</li>
                <li>DWN4A | 2022</li>
            </ul>
    
        </div>
    </div>
    <p>&copy; Este sitio es una entrega para la Escuela Da Vinci</p>
</footer>
</body>

</html>