<ul class="row product-list">
    <% for (let i=0; i < products.length; i++) { %>
        <li class="col-5">
            <h2><%= products[i].name %>
            </h2>
            <p>Categoría: <%= products[i].category.name %>
            </p>
            <a href="/products/<%=products[i]._id%>">Ver Producto</a>
        </li>
        <% } %>
</ul>