<section class="row product-section">
    <picture class="col-12 col-md-2 col-lg-6">
        <img src="/assets/generic-product.png"
            alt="Producto genérico de Hecho por Vicki incluido unicamente a modo ilustrativo" width="241" height="300">
    </picture>
    <div class="col-12 col-md-2 col-lg-4">
        <h2>
            <%= product[0].name %>
        </h2>
        <p><b>Categoría:</b>
            <%= product[0].category.name %>
        </p>
        <p><b>Descripción:</b>
            <%= product[0].productDescription %>
        </p>
    </div>
</section>